{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% block title %}
    My Account
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
{% endblock css %}

{% block onload %}
    $('.unfavourite').click(function(){
        var nid = $(this).data('note');
        $.post('{{base}}/ajax/removeFavourite/'+nid+'/',{
        }).done(function(data){
            $('#fn-'+nid).hide();
        }).fail(function(jqXHR, textStatus, errorThrown){
            bootbox.alert('<h3>Error</h3><br/>'+jqXHR.responseText);
        });
    });
    $('.delete-note').click(function(){
        var nid = $(this).data('note');
        bootbox.confirm({
            message: "Are you sure you want to delete this note?",
            buttons: {
                cancel: {
                    label: 'Cancel',
                    className: 'btn-success'
                },
                confirm: {
                    label: 'Delete Note',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result){
                    $.post('{{base}}/ajax/delete/'+nid+'/', {
                    }).done(function(data){
                        $('#n-'+nid).hide();
                        bootbox.alert('<h3>Success</h3><br/>'+data);
                    }).fail(function(jqXHR, textStatus, errorThrown){
                        bootbox.alert('<h3>Error Deleting Note</h3><br/>'+jqXHR.responseText);
                    });
                }
            }
        });
    });
{% endblock onload %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <div class="right">
                        <p>Latest Upload: {{recent}}</p>
                        <p>{{user.login}}</p>
                    </div>
                    <h1>Your Dashboard</h1>
                </div>
                <br/>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Recently Uploaded</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if ruploads|length < 1 %}
                            <div class="col-12">
                                <p>No notes to display. You have not yet uploaded any notes.</p>
                            </div>
                        {% else %}
                            {% for upload in ruploads %}
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{upload.icon}}">
                                                <i class="fas fa-{{upload.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    {% if upload.note.downloads >= 20 %}
                                                        <i class="fas fa-certificate download-badge"></i>
                                                    {% elseif upload.note.downloads >= 10 %}
                                                        <i class="fas fa-award download-badge"></i>
                                                    {% elseif upload.note.downloads >= 5 %}
                                                        <i class="fas fa-trophy download-badge"></i>
                                                    {% endif %}
                                                    <h5 class="card-title">{{upload.note.name}}</h5>
                                                    <p class="card-text"><b>{{upload.note.module}}</b> - {{upload.note.description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{upload.note.upload}}</small></p>
                                                    <a href="{{base}}/view/{{upload.note.getID}}/" class="btn btn-primary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Favourites</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if favourites|length < 1 %}
                            <div class="col-12">
                                <p>No notes to display. You have not added any notes to your favourites.</p>
                            </div>
                        {% else %}
                            {% for upload in favourites %}
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{upload.icon}}">
                                                <i class="fas fa-{{upload.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    {% if upload.note.downloads >= 20 %}
                                                        <i class="fas fa-certificate download-badge"></i>
                                                    {% elseif upload.note.downloads >= 10 %}
                                                        <i class="fas fa-award download-badge"></i>
                                                    {% elseif upload.note.downloads >= 5 %}
                                                        <i class="fas fa-trophy download-badge"></i>
                                                    {% endif %}
                                                    <h5 class="card-title">{{upload.note.name}}</h5>
                                                    <p class="card-text"><b>{{upload.note.module}}</b> - {{upload.note.description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{upload.note.upload}}</small></p>
                                                    <a href="{{base}}/view/{{upload.note.getID}}/" class="btn btn-primary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>My Notes</h2>
                </div>
                <div class="round-box-body">
                    {% if notes|length < 1 %}
                        <p>No notes to display. You have not yet uploaded any notes.</p>
                    {% else %}
                        <table class="notes">
                            <tr>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Module</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {% for upload in notes %}
                                <tr id="n-{{upload.note.getID}}">
                                    <td><a href="{{base}}/view/{{upload.note.getID}}/">{{upload.note.name}}</a></td>
                                    <td>{{upload.note.course}}</td>
                                    <td>{{upload.note.module}}</td>
                                    <td>{{upload.note.upload}}</td>
                                    <td>{% if upload.note.privacy is same as('0') %}Private{% endif %}</td>
                                    <td>
                                        <a href="{{base}}/modify/{{upload.note.getID}}/"><i class="fas fa-edit edit-note"></i></a>
                                        <i class="fas fa-trash delete-note" data-note="{{upload.note.getID}}"></i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    <a href="{{base}}/add/" class="btn btn-success">Upload Notes</a>
                </div>
            </div>
        </article>

        {% if teacher %}
            <article class="col-md-12">
                <div class="round-box">
                    <div class="round-box-heading">
                        <h2>All Notes</h2>
                    </div>
                    <div class="round-box-body">
                        {% if all|length < 1 %}
                            <p>No notes to display. No notes have been added by anyone yet.</p>
                        {% else %}
                            <table class="notes">
                                <tr>
                                    <th>Name</th>
                                    <th>Course</th>
                                    <th>Module</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Author</th>
                                    <th>Actions</th>
                                </tr>
                                {% for upload in all %}
                                    <tr>
                                        <td><a href="{{base}}/view/{{upload.note.getID}}/">{{upload.note.name}}</a></td>
                                        <td>{{upload.note.course}}</td>
                                        <td>{{upload.note.module}}</td>
                                        <td>{{upload.note.upload}}</td>
                                        <td>{% if upload.note.privacy is same as('0') %}Private{% endif %}</td>
                                        <td>{{upload.owner.login}}</td>
                                        <td>
                                            <a href="{{base}}/modify/{{upload.note.getID}}/"><i class="fas fa-edit edit-note"></i></a>
                                            <a href="#"><i class="fas fa-trash delete-note"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% endif %}
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Account Info</h2>
                </div>
                <div class="round-box-body">
                    <table class="stats">
                        <tr>
                            <th>Username</th>
                            <td>{{user.login}}</td>
                        </tr>
                        <tr>
                            <th>Favourites</th>
                            <td>{{nfavourites}}</td>
                        </tr>
                        <tr>
                            <th>Last Upload</th>
                            <td>{{recent}}</td>
                        </tr>
                    </table>
                    <a href="#" class="btn btn-warning">Manage Account</a>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
