{% extends '@content/page.twig' %}

{% block title %}
    Lecture Notes
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <link rel="stylesheet" href="{{assets}}/css/index.css">
{% endblock css %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="jumbotron">
                <h1>Note Sharing</h1>
                <p>Share your notes from any course or module on this site.</p>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Browse by Subject</h2>
                </div>
                <div class="round-box-body">
                    <div class="subjects">
                        <a href="{{base}}/course?title=Computer%20Science">
                            <div class="subject">
                                <span class="subject-icon cs">
                                    <i class="fas fa-laptop-code"></i>
                                </span>
                                <p>Computer<br> Science</p>
                            </div>
                        </a>
                        <a href="{{base}}/course?title=Maths">
                            <div class="subject">
                                <span class="subject-icon maths">
                                    <i class="fas fa-square-root-alt"></i>
                                </span>
                                <p>Maths</p>
                            </div>
                        </a>
                        <a href="{{base}}/course?title=Physics">
                            <div class="subject">
                                <span class="subject-icon physics">
                                    <i class="fas fa-ruler-vertical"></i>
                                </span>
                                <p>Physics</p>
                            </div>
                        </a>
                        <a href="{{base}}/course?title=Chemistry">
                            <div class="subject">
                                <span class="subject-icon chemistry">
                                    <i class="fas fa-vial"></i>
                                </span>
                                <p>Chemistry</p>
                            </div>
                        </a>
                        <a href="{{base}}/course?title=Accounting">
                            <div class="subject">
                                <span class="subject-icon accounting">
                                    <i class="fas fa-calculator"></i>
                                </span>
                                <p>Accounting</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Top Notes</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if top|length < 1 %}
                            <div class="col-12">
                                {% if guest %}
                                    <p>Please <a href="{{base}}/login/">log in</a> to view these lecture notes.</p>
                                {% else %}
                                    <p>No notes to display.</p>
                                {% endif %}
                            </div>
                        {% else %}
                            {% for upload in top %}
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{upload.icon}}">
                                                <i class="fas fa-{{upload.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{upload.note.name}}</h5>
                                                    <p class="card-text"><b>{{upload.note.module}}</b> - {{upload.note.description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{upload.note.upload}}</small></p>
                                                    <a href="{{base}}/view?note={{upload.note_id}}" class="btn btn-primary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}
