{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}

{% block title %}
    All Notes
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <link rel="stylesheet" href="{{assets}}/css/index.css">
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
    $('.unfavourite').click(function() {
        var nid = $(this).data('note');
        $.post('{{base}}/ajax/removeFavourite/'+nid+'/', {
        }).done(function(data){
            $('#fn-'+nid).hide();
        }).fail(function(jqXHR, textStatus, errorThrown){
            bootbox.alert('<h3>Error</h3><br>'+jqXHR.responseText);
        });
    });
{% endblock onload %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Find Notes</h2>
                </div>
                <div class="round-box-body">
                    {{f.startform({method: 'post', action: '{{class}}/support/search', id: 'search'})}}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search" aria-label="Search" aria-describedby="searchHelp" placeholder="Search for notes&hellip;"  aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success" type="button">Search</button>
                            </div>
                        </div>
                    {{f.endform()}}
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Favourite Notes</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if ffiles|length < 1 %}
                            <div class="col-12">
                                <p>No notes to display</p>
                            </div>
                        {% else %}
                            {% for file in ffiles %}
                                <div class="col-sm-12 col-md-12 col-lg-6" id="fn-{{fnotes[file.note_id].id}}">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{file.icon}}">
                                                <i class="fas fa-{{file.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{fnotes[loop.index0].name}}</h5>
                                                    <p class="card-text"><b>{{fnotes[loop.index0].module}}</b> - {{fnotes[loop.index0].description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{fnotes[loop.index0].upload}}</small></p>
                                                    <a href="{{base}}/view?note={{file.note_id}}" class="btn btn-primary">View</a>
                                                    <button type="button" class="btn btn-danger unfavourite" data-note="{{fnotes[loop.index0].id}}">unFavourite</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Top Notes</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if tfiles|length < 1 %}
                            <div class="col-12">
                                <p>No notes to display</p>
                            </div>
                        {% else %}
                            {% for file in tfiles %}
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{file.icon}}">
                                                <i class="fas fa-{{file.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{tnotes[loop.index0].name}}</h5>
                                                    <p class="card-text"><b>{{tnotes[loop.index0].module}}</b> - {{tnotes[loop.index0].description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{tnotes[loop.index0].upload}}</small></p>
                                                    <a href="{{base}}/view?note={{file.note_id}}" class="btn btn-primary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>All Notes</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if afiles|length < 1 %}
                            <div class="col-12">
                                <p>No notes to display</p>
                            </div>
                        {% else %}
                            {% for file in afiles %}
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{file.icon}}">
                                                <i class="fas fa-{{file.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{anotes[loop.index0].name}}</h5>
                                                    <p class="card-text"><b>{{anotes[loop.index0].module}}</b> - {{anotes[loop.index0].description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{anotes[loop.index0].upload}}</small></p>
                                                    <a href="{{base}}/view?note={{file.note_id}}" class="btn btn-primary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}
