{# Uncomment this if your page uses AJAX
{% set ajax = TRUE %}
#}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{# this brings in some useful macros for making bootstrap modals
{% import '@util/modalmacro.twig' as f %}
#}

{% block title %}
    All Notes
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <link rel="stylesheet" href="{{assets}}/css/index.css">
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Find Notes</h2>
                </div>
                <div class="round-box-body">
                    {{f.startform({method: 'post', action: '{{class}}/support/search', id: 'search'})}}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search" aria-label="Search" aria-describedby="searchHelp" placeholder="Search for notes&hellip;"  aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success" type="button">Search</button>
                            </div>
                        </div>
                    {{f.endform()}}
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Favourite Notes</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-2 note-icon doc">
                                        <i class="fas fa-file-word note-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title">My favourite notes</h5>
                                            <p class="card-text"><b>CSC3123</b> - This is a document.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 13 mins ago</small></p>
                                            <a href="#" class="btn btn-primary">View</a>
                                            <a href="#" class="btn btn-danger">Unfavourite</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-2 note-icon ppt">
                                        <i class="fas fa-file-powerpoint note-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title">Acounting notes</h5>
                                            <p class="card-text"><b>ACC1010</b> - Introduction to Financial Accounting<p>
                                            <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
                                            <a href="#" class="btn btn-primary">View</a>
                                            <a href="#" class="btn btn-danger">Unfavourite</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Top Notes</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-2 note-icon ppt">
                                        <i class="fas fa-file-powerpoint note-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title">Experimental Design</h5>
                                            <p class="card-text"><b>CSC3095</b> - This is a PowerPoint presentation on how to design your experiement.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            <a href="#" class="btn btn-primary">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-2 note-icon ppt">
                                        <i class="fas fa-file-powerpoint note-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title">Really big long title to see what that looks like</h5>
                                            <p class="card-text"><b>CSC3095</b> - This is a PowerPoint presentation on how to design your experiement.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 10 hours ago</small></p>
                                            <a href="#" class="btn btn-primary">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-2 note-icon doc">
                                        <i class="fas fa-file-word note-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title">Experimental Design</h5>
                                            <p class="card-text"><b>CSC3095</b> - This is a PowerPoint presentation on how to design your experiement.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            <a href="#" class="btn btn-primary">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-2 note-icon pdf">
                                        <i class="fas fa-file-pdf note-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title">Experimental Design</h5>
                                            <p class="card-text"><b>CSC3095</b> - This is a PowerPoint presentation on how to design your experiement.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            <a href="#" class="btn btn-primary">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}
