{% extends '@content/page.twig' %}

{% block title %}
    Search
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
{% endblock css %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h1>
                        Search
                    </h1>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{base}}/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{{base}}/notes/">All Notes</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Results</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        {% if notes|length < 1 %}
                            <div class="col-12">
                                <p>No notes found.</p>
                            </div>
                        {% else %}
                            {% for upload in notes %}
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-2 note-icon {{upload.icon}}">
                                                <i class="fas fa-{{upload.icon}} note-icon"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{upload.note.name}}</h5>
                                                    <p class="card-text"><b>{{upload.note.module}}</b> - {{upload.note.description}}</p>
                                                    <p class="card-text"><small class="text-muted">Uploaded {{upload.note.upload}}</small></p>
                                                    <a href="{{base}}/view/{{upload.note_id}}/" class="btn btn-primary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
