{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/modalmacro.twig' as m %}

{% block title %}
    View note
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <link rel="stylesheet" href="{{assets}}/css/view.css">
{% endblock css %}

{% block onload %}
    {% if favourite is same as("1") %}
        $('#addFavourite').hide();
    {% else %}
        $('#unFavourite').hide();
    {% endif %}
    $('#addFavourite').click(function(){
        $.post('{{base}}/ajax/addFavourite/{{note.getID}}/',{
        }).done(function(data){
            $('#addFavourite').hide();
            $('#unFavourite').show();
            bootbox.alert('<h3>Success</h3><br/>'+data);
        }).fail(function(jqXHR, textStatus, errorThrown){
            bootbox.alert('<h3>Error</h3><br/>'+jqXHR.responseText);
        });
    });
    $('#unFavourite').click(function(){
        $.post('{{base}}/ajax/removeFavourite/{{note.getID}}/',{
        }).done(function(data){
            $('#addFavourite').show();
            $('#unFavourite').hide();
            bootbox.alert('<h3>Success</h3><br/>'+data);
        }).fail(function(jqXHR, textStatus, errorThrown){
            bootbox.alert('<h3>Error</h3><br/>'+jqXHR.responseText);
        });
    });
    $('#ratingError').hide();
    $('#addReview').click(function(){
        var rating = $('#ra :selected').val();
        if (rating > 0){
            $('#modalReview').modal('hide');
            $.post('{{base}}/ajax/addReview/{{note.getID}}/'+rating+'/',{
            }).done(function(data){
                $("#invokeAddReview").html('Modify Review');
                $('#ratingError').hide();
                bootbox.alert('<h3>Success</h3><br/>'+data);
            }).fail(function(jqXHR, textStatus, errorThrown){
                bootbox.alert('<h3>Error</h3><br/>'+jqXHR.responseText);
            });
        } else {
            $('#ratingError').show();
        }
    });
    $('.delete-note').click(function(){
        var nid = $(this).data('note');
        bootbox.confirm({
            message: "Are you sure you want to delete this note?",
            buttons: {
                cancel: {
                    label: 'Cancel',
                    className: 'btn-success'
                },
                confirm: {
                    label: 'Delete Note',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result){
                    $.post('{{base}}/ajax/delete/'+nid+'/', {
                    }).done(function(data){
                        $('#n-'+nid).hide();
                        bootbox.alert('<h3>Success</h3><br/>'+data);
                    }).fail(function(jqXHR, textStatus, errorThrown){
                        bootbox.alert('<h3>Error Deleting Note</h3><br/>'+jqXHR.responseText);
                    });
                }
            }
        });
    });
    $('.download-file').click(function(){
        var fid = $(this).data('file');
        $.post('{{base}}/ajax/getfile/'+fid+'/',{
        }).done(function(data){
            bootbox.alert('<h3>File Download</h3><br/>'+data);
        }).fail(function(jqXHR, textStatus, errorThrown){
            bootbox.alert('<h3>File Download</h3><br/>'+jqXHR.responseText);
        });
    });
{% endblock onload %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <div class="left">
                        <h1>{{note.name}}</h1>
                    </div>
                    <div class="right">
                        <p id="upload">{{note.uploaded}}</p>
                        <p id="author">By: {{author.login}}</p>
                    </div>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{base}}/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{{base}}/notes/">All Notes</a></li>
                                    <li class="breadcrumb-item"><a href="{{base}}/browse/course/{{note.course}}">{{note.course}}</a></li>
                                    <li class="breadcrumb-item"><a href="{{base}}/browse/module/{{note.module}}">{{note.module}}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Notes</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2>Description</h2>
                            <p>
                                {{note.description}}
                            </p>
                            <br/>
                            <h2>Author's Comments</h2>
                            <p>
                                {{note.comment}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Files</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        <div class="col-12">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>File Name</th>
                                    <th>Size</th>
                                </tr>
                                {% for key, file in files %}
                                    <tr>
                                        <td><i class="fas fa-{{file.icon}}"></i></td>
                                        <td><a href="#" class="download-file" data-file="{{file.getID}}">{{file.filename}}</a></td>
                                        <td>{{file.size}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h2>Ratings</h2>
                </div>
                <div class="round-box-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="stars">
                                {% for star in range(1, 5) %}
                                    {% if star <= rating %}
                                        <span class="fa fa-star checked"></span>
                                    {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <table class="stats">
                                <tr>
                                    <th>Rating</th>
                                    <td>{{rating}}</td>
                                </tr>
                                <tr>
                                    <th>Favourites</th>
                                    <td>{{favourites}}</td>
                                </tr>
                                <tr>
                                    <th>Number of downloads</th>
                                    <td>{{note.downloads}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if not user.getID is same as(author.getID) %}
                        <button id="invokeAddReview" class="btn btn-primary" data-toggle="modal" data-target="#modalReview" type="button">
                        {% if review is same as(0) %}
                            Add Review
                        {% else %}
                            Modify Review
                        {% endif %}
                        </button>
                    {% endif %}
                    <a href="#" class="btn btn-danger" id="unFavourite">Unfavourite</a>
                    <a href="#" class="btn btn-success" id="addFavourite">Add Favourite</a>
                    {% if user.getID is same as(author.getID) %}
                        <a href="{{base}}/modify/{{note.getID}}/" class="btn btn-warning">Modify Note</a>
                        <button class="btn btn-danger delete-note" data-note="{{note.getID}}" type="button">Delete</button>
                    {% endif %}
                </div>
            </div>
        </article>
    </section>
    {{m.open({id: 'modalReview', title: 'Review this Note'})}}
    <div class="modal-body">
        <p>Rate these notes out of 5 below.</p>
        {% if not review is same as(0) %}
            <p>You have already rated these notes. Your previous rating has been pre-selected</p>
        {% endif %}
        <form id="addReviewForm" action="#" method="post">
            <div class="form-group">
                <select class="form-control" id="ra" name="rating" required="required">
                    <option {% if review is same as(0) %}selected {% endif %} disabled>Rating</option>
                    <option {% if review is same as(1) %}selected {% endif %} value="1">1 Star</option>
                    <option {% if review is same as(2) %}selected {% endif %} value="2">2 Stars</option>
                    <option {% if review is same as(3) %}selected {% endif %} value="3">3 Stars</option>
                    <option {% if review is same as(4) %}selected {% endif %} value="4">4 Stars</option>
                    <option {% if review is same as(5) %}selected {% endif %} value="5">5 Stars</option>
                </select>
            </div>
        </form>
        <p id="ratingError">Rating must be at least 1 star.</p>
    </div>
    {{m.close({action: 'Save', id: 'addReview'})}}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
